@using MvcCv.Models.Entity
@model List<TblSosyalMedya>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <div class="card">
                            <div class="card-header">
                                <center>
                                    <h3>Sosyal Medya Hesap Listem</h3>
                                </center>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <center>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Yeni Sosyal Medya Hesabı Ekle</button><br /><br />
                                </center>
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">ID</th>
                                            <th><center>Sosyal Medya</center></th>
                                            <th><center>Durum</center></th>
                                            <th style="width: 40px">Sil</th>
                                            <th style="width: 40px">Düzenle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ID</td>
                                                <td><center>@item.Ad</center></td>
                                                
                                                @if(item.Durum == true)
                                                {
                                                    <td><center>Aktif</center></td>
                                                }else
                                                {
                                                    <td><center>Pasif</center></td>
                                                }

                                                <td>
                                                    <center>
                                                        <a href="/SosyalMedya/Sil/@item.ID" class="btn btn-danger">Sil</a>
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <a href="/SosyalMedya/SayfaGetir/@item.ID" class="btn btn-success">Düzenle</a>
                                                    </center>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Sosyal Medya Ekleme Penceresi</h2>
                    </div>
                    <form method="post" action="/SosyalMedya/Ekle/">
                        <div class="modal-body">
                            <label>Sosyal Medya İsmi</label>
                            <input type="text" name="Ad" class="form-control" />
                            <br />
                            <label>Sosyal Medya Linki</label>
                            <input type="text" name="Link" class="form-control" />
                            <br />
                            <label>İkon Değeri</label>
                            <input type="text" name="ikon" class="form-control" />
                            <br />
                            <button class="btn btn-info">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
